results
*.pyc
*.out
env.toml
*.aux
*.log
*.pdf
*.synctex.gz
*.fls
*.fdb_latexmk
*.pre
*.asy
.sesskey
*.ipynb
outputs/
*.egg-info
logs/
*report/
__pycache__
.venv/
core_nid*
.env
minified_*
scratch/
hierarchical_*
test_scripts
**/.DS_Store
models